---
// import BaseHead from '../../components/BaseHead.astro';
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
// import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
// import { getCollection } from 'astro:content';
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

interface Car {
	title: string;
	slugTitle: string;
	carMainImage: any;
	pubDate: any;
}

const query = {
	method: "POST",
	headers: { "Content-Type": "application/json" },
	body: JSON.stringify({
		query: `
      {
        cars {
          title,
		  slugTitle,
		  pubDate        
		}
      }`,
	}),
};

const response = await fetch(import.meta.env.HYGRAPH_ENDPOINT, query);
const json = await response.json();
// console.log("cars", json);
const cars: Car[] = json.data.cars;
---

<style>
	li {
		list-style: none;
	}
</style>

<BaseLayout pageTitle={`The Quirky Lego Car Blog`}>
	<section>
		<ul>
			{
				cars.map((car) => (
					<li>
						<a href={`/blog/${car.slugTitle}/`}>
							{/* <img width={720} height={360} src={car.carMainImage[0].url} alt="" /> */}
							<h4 class="title">{car.title}</h4>
							{/* <p class="date">
											<span>{car.pubDate}</span>
										</p> */}
						</a>
					</li>
				))
			}
		</ul>
	</section>
</BaseLayout>
